<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Hello, Vue.js</title>
            <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
            <link rel="stylesheet" href="./styles.css">
        </head>
    <body>
        <div id="app-title">
            {{ message }}
        </div>

        <div id="todo-list">
			<form class="todo-add-item" v-on:submit.prevent="addNewTodo">
				<input
					v-model="newTodoText"
					id="new-todo"
				>
				<button class="todo-add-button">Добавить задачу</button>
			</form>
			<div
				is="todo-item"
				v-for="(todo, index) in todos"
				v-bind:key="todo.id"
				v-bind:text="todo.text"
				v-on:remove="todos.splice(index, 1)"
			></div>
        </div>

        <script>
            const app_title = new Vue({
                el: '#app-title',
                data: {
                    message: 'to-do list',
                },
                
            });

            Vue.component('todo-item', {
			    template: '\
			    	<div class="todo-item">\
                        <span class="list-marker">&#11096;</span>\
                        <div class="list-field">\
			    	        <span class="text"> {{ text }} </span>\
			    	        <div class="delete-marker" v-on:click="$emit(\'remove\')">&#215;</div>\
                        </div>\
			    	</div>\
			    ',
			    props: ['text']
			})
			
			const todo_list = new Vue({
			el: '#todo-list',
			data: {
				newTodoText: '',
				todos: [
				{
					id: 1,
					text: 'Получилось найти самый подходящий смысловой тег — использовать его.'
				},
				{
					id: 2,
					text: 'Для потоковых контейнеров — <div>.'
				},
				{
					id: 3,
					text: 'Для мелких фразовых элементов (слово или фраза) — <span>.'
				}
				],
				nextTodoId: 4
			},
			methods: {
				addNewTodo: function () {
				this.todos.push({
					id: this.nextTodoId++,
					text: this.newTodoText
				})
				this.newTodoText = ''
				}
			}
			})
        </script>
    </body>
</html>